<br>
<div class="container-fluid" >
    <div class="page-header">
        <h2>Cadastro de Disciplinas</h2>
    </div>

    <div>
        <form>
            <label>Curso:</label>
            <select ng-model="disciplina.CursoId">
               <option value="" >selecione um curso</option>
            <option ng-repeat="curso in listaDeTdCursos" value="{{curso.id}}">{{curso.nome}}</option></select>
            <br>

            <label>Nome:</label>
            <input ng-model="disciplina.nome"/>
            <br>
            <label>Descricao</label>
            <input ng-model="disciplina.descricao"/>
            <br>
            <button ng-click="salvarDisciplina(disciplina)">Salvar</button>
        </form>
    </div>


</div>